
.groupsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

table {
  width: 600px;
  border-collapse: collapse;
  border-spacing: 30px;
  border-radius: 8px;
}

thead {
  background-color:black;
  color: white;
}

thead th {
  padding: 16px;
}

tr {
  padding: 4px;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

tbody > tr:hover {
  background-color: #2fe2e2;
}

.invitedGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}