/* Add a black background color to the top navigation */
#topNav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: rgba(var(--bluegrey-rgb), 0.8);
    padding: 0;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
}

#toolbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}


/* Add a color to the active/current link */
#topNav a.active {
    background-color: #4CAF50;
    color: white;
}

#topNav .btn {
    color: white;
    background-color: Transparent;
    outline:none;
    border: none; /* Remove borders */
    cursor: pointer; 
    padding: 0;
    margin: 0;
    font-size: calc(14px + 0.5vmin);
    border-radius: 8pt;
}

#topNav p {
    margin: 0;
}

.toolButton {
    background-color: Transparent;
    box-sizing: border-box;
    border-radius: 8pt;
    
}



#topNav .btn i {
    margin: 0;
    padding: 8px;
}



#toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.leftToolsContainer {
    z-index: 5;
    display: flex;
    align-items: center;
}

.menuDropdown {
    display: inline-block;
    z-index: 2;
}

.menuDropdownContent {
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 3;
}

.menuDropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.addButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0 0 0 12px;
    height: 100%;
}

.pageName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media only screen and (max-width: 700px) {
    #toolbarLanguageDropdown {
        display: none;
    }
    .pageName {
        display: none;
    }
}

@media only screen and (min-width: 700px) {
    .menuDropdownContent a:hover {
        background-color: #ddd;
    }

    /* Darker background on mouse-over */
    #topNav .btn:hover {
        background-color: RoyalBlue;
    }

    .toolButton:hover {
        background-color: RoyalBlue !important;
    }
}
