
.search {
	max-width: 100%;
}

.search input {
  /*width: 100%;*/
  padding: 8px 16px;
  margin: 4pt;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: calc(12pt + 0.5vmin);
	border-radius: 8pt;
}

.searchButton {
	width: 30pt;
	height: 30pt;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	cursor: pointer;
	background-color: transparent;
	font-size: calc(14px + 0.5vmin);
	border-radius: 8pt;
}

@media only screen and (min-width: 700px) {
	.searchButton:hover {
		background-color: RoyalBlue !important;
	}
}

