.dashboard > h4 {
    margin-bottom: 0;
}

#taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    cursor: pointer;
    margin: 0px 2vmin;
    box-sizing: border-box;
    color: white;
}

.taskItem {
    width: 100%;
    max-width: 1000px;
    display: grid;
    border-radius: 8pt;
    align-content: flex-start;
    margin: 4pt;
    transition: 0.6s ease;
    grid-template-columns: 5fr 52fr 14fr 13fr 16fr;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.taskRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taskRow p {
    margin: 20pt 2pt;
    margin-block-start: 0;
    margin-block-end: 0;
}

.taskPriority {
    grid-column: 1;
    text-align: right;
    border-top-left-radius: 8pt;
    border-bottom-left-radius: 8pt;
    background-color: var(--task-background);
    padding: 4pt;
}

.taskName {
    grid-column: 2;
    text-align: left;
    background-color: var(--task-background);
    padding: 4pt;
}

.separator {
    grid-column: 3;
    background-color: var(--task-background);
    padding: 4pt;
}

.taskGroup {
    grid-column: 4;
    text-align: left;
    background-color: var(--task-background);
}

/* The Close Button (x) */
.close {
    /*position: absolute;*/
    /*right: 2%;*/
    /*top: 2%;*/
    /*font-size: 40px;*/
    /*font-weight: bold;*/
    color: #3e0404;
    background-color: Transparent;
    margin: 0;
    padding: 0;
    height: 24px;
    width: 24px;
}

.doneTaskButton {
    background-color: rgb(19, 196, 19);
    border-top-right-radius: 8pt;
    border-bottom-right-radius: 8pt;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 700px) {
    .taskItem {
        grid-template-columns: 64fr 20fr 16fr;
    }

    .taskPriority {
        display: none;
    }

    .taskName {
        grid-column: 1 / span 2;
        border-bottom-left-radius: 0;
        align-items: flex-start;
    }

    .separator {
        grid-column: 1;
        grid-row: 2;
        align-items: flex-end;
    }

    .taskGroup {
        grid-column: 2;
        grid-row: 2;
    }

    .doneTaskButton {
        grid-column: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}


@media only screen and (min-width: 700px) {

    .close:hover, .close:focus {
        color: #f44336;
        cursor: pointer;
    }

    .taskItem:hover {
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
    }

    .taskItem:hover > div:not(.doneTaskButton) {
        background-color: rgba(65, 105, 225, var(--alpha));
        transition: 0.6s ease;
    }
}