
.scoreItem {
    display: grid;
    border-radius: 8pt;
    align-content: start;
    margin: 4pt;
    grid-template-columns: 29fr 11fr 13fr 27fr 20fr;
    cursor: pointer;
}

.scoreItem .deleteButton, .saveButton {
    display: none;
}

.openItem .deleteButton, .openItem .saveButton {
    display: block;
    width: 90pt;
}

.showButton {
    display: block;
}

.doneName {
    grid-column: 1;
}

.scoreSeparator {
    grid-column: 2;
}

.doneAuthor {
    grid-column: 3;
}

.scoreDoneDate {
    grid-column: 4;
}

.scoreStars {
    grid-column: 5;
}

.deleteButton {
    grid-row: 2;
    grid-column: 5;
    background-color: red;
}

.saveButton {
    background-color: rgba(var(--color), 1);
    grid-row: 2;
    grid-column: 4;
}