/* Set a style for all buttons */
.button {
	height: 25pt;
	max-width: 200pt;
	min-width: 20pt;
	padding: 0 8pt;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	background-color: rgb(var(--color));
	transition: 0.6s ease;
	align-content: center;
	align-items: center;
	margin: 4pt;
	font-size: calc(11pt + 1vmin);
	overflow: hidden;
}

.withShadow {
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.confirmButton {
	background-color: #4CAF50;
}

.redButton {
	background-color: #c33155;
}

.button:hover {
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
}

.button:hover > div:not(.dialog) {
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
}
  