
#loginPage {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

#loginPageContent {
    width: 100%;
    flex-grow: 1;
    /*width: 100%;*/
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}