.scoreContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 4pt;
    cursor: pointer;
}

.star {
    max-width: 24px;
    padding: 0 4px;
}

.star:hover > svg {
    fill: black;
}

.star:has(~ .star:hover) > svg {
    fill: black;
}