.scoredDoneItem {
  transition: all 1s linear;
  box-sizing: border-box;
  max-width: 1000px;
}

.scoredDoneItem > .scoredDoneRow {
  display: grid;
  border-radius: 8pt;
  align-content: center;
  box-sizing: border-box;
  grid-template-columns: 25fr 2fr 25fr 13fr 35fr;
}

.scoredDoneItem .deleteButton {
  display: none;
}

.scoredDoneItem > header {
  display: none;
}


.openScoreItem {
  /* height: 70pt; */ /* Full height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  transition: all 1s linear;
  background-color: gainsboro;
  border-radius: 8pt;
}

.openScoreItem > header {
  margin: 16px 8px 8px 8px;
  display: flex;
  flex-direction: row-reverse;
}

.openScoreItem > .scoredDoneRow > .actionRow {
  grid-row: 2;
  grid-column: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.openScoreItem > .scoredDoneRow > .actionRow > .deleteButton {
  display: block;
  background-color: #f44336;
}