.dialog {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(136, 153, 191, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  padding: 4pt;
  box-sizing: border-box;
  backdrop-filter: blur(2px);
}

.dialogContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 16px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  overflow-y: auto;
}

.dialogBody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.dialogToolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 16pt;
}

.dialogName {
  margin-top: 0;
  margin-bottom: 4pt;
}