#languageDropdown {
    position: relative;
    /*margin-right: 20%;*/
    transition: 0.6s ease;
}

.languageDropdownContent span {
    z-index: -1;
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    background-color: rgba(var(--color), .7);
    backdrop-filter: blur(2px);
    transition: 0.6s ease;
}

#languageButton {
    font-weight: bold;
    font-size: 14px;
    height: 45px;
    width: 45px;
    transition: 0.6s ease;
    margin: 0;
}

.languageDropdownContent {
    z-index: 6;
    position: absolute;
    min-width: 30px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 3;
    margin: 0 0 0 8px;
    border-radius: 8px;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: 0.6s ease;
    font-size: 14px;
    font-weight: bold;
}

.languageDropdownContent span:hover {
    background-color: rgba(var(--color-dark), 0.8);
}

.selected {
    background-color: rgba(var(--color-dark), 0.8) !important;
}

@media screen and (max-width: 800px) {

    #languageDropdown {
        margin-right: 0;
    }
}


