.textFieldContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.textFieldContainer label {
  width: 100pt;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 4pt;
}

.textFieldContainer input, .textFieldContainer select {
  /*width: 100%;*/
  padding: 8px 16px;
  margin: 4pt;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  max-width: 600px;
  border-radius: 4px;
  font-size: calc(14pt + 0.5vmin);
}

@media only screen and ( max-width: 700px ) {
  .textFieldContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .textFieldContainer input {
    /*width: 100%;*/
    padding: 8px 16px;
    margin: 4pt;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    max-width: 100%;
    border-radius: 4px;
  }
}