@import '~material-design-icons/iconfont/material-icons.css';

.App {
  min-height: 100vh;
  text-align: center;
  font-size: calc(14pt + 0.5vmin);
  transition: 0.6s ease;
  display: flex;
  flex-flow: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.pageName {
  color: white;
  margin: 0;
}



/* Login Page */

.formContainer {
  /*padding: 0 25% 5% 25%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(254, 254, 254, 0.9);
  /*border: 1px solid #888;*/
  max-width: 600px;
  border-radius: 4px;
  margin: 5%;
}

.textField {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
}

.textField label {
  width: 100pt;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 4pt;
}

/* Full-width inputs */
.textField input, .textField select {
  width: auto;
  height: auto;
  padding: 8px 16px;
  margin: 4pt;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: calc(14pt + 0.5vmin);
  align-items: center;
}

@media only screen and ( max-width: 700px ) {
  .textField {
    flex-direction: column;
    align-items: flex-start;
  }
}

textarea {
  /*width: 100%;*/
  padding: 8px 16px;
  margin: 4pt;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: calc(14pt + 0.5vmin);
}


/* Add padding to containers */
/*form {
  !*border: 3px solid #f1f1f1;*!
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}*/

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
/*@media screen and (max-width: 600px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}*/


.appContent {
  margin-top: 50px;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}

.page {
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}


.listElement {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
