body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  box-sizing: border-box;
}

:root {
  --color: 31, 48, 162;
  --color-light: 96, 113, 227;
  --color-dark: 4, 17, 103;
  --bg-color: #ffffff;
  --bluegrey: #546e7a;
  --bluegrey-light: #94c5db;
  --bluegrey-rgb: 84, 110, 122;
  --task-background: rgb(65, 105, 225);
  --alpha: 0.7;
}
