#doneList {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  cursor: pointer;
  margin: 0px 2vmin;
  box-sizing: border-box;
}

.doneItem {
  margin: 2pt;
  transition: all 1s linear;
  box-sizing: border-box;
  width: 100%;
  max-height: 52pt;
  max-width: 1000px;
  border-radius: 8pt;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.doneItem > header {
  grid-column: 1 / span 4;
  grid-row: 1;
  display: flex;
  flex-direction: row-reverse;
}

.doneItem > header > div {
  display: none;
}

.doneRow {
  display: grid;
  grid-template-columns: 29fr 25fr 33fr 13fr;
  border-radius: 8pt;
  align-content: center;
  box-sizing: border-box;
  object-fit: contain;
}

.doneRow > .doneName {
  grid-column: 1;
  grid-row: 2;
  text-align: left;
  padding-left: 4pt;
}

.doneRow > .doneGroup {
  grid-column: 2;
  grid-row: 2;
  text-align: left;
  padding-left: 4pt;
}

.doneRow > .doneDate {
  grid-column: 3;
  grid-row: 2;
  text-align: left;
  padding-left: 4pt;
}

.doneRow > .doneScore {
  grid-column: 4;
  grid-row: 2;
}

.doneRow > .actionRow {
  grid-row: 3;
  grid-column: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.openDoneItem {
  /* height: 70pt; */ /* Full height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: gainsboro;
  border-radius: 8pt;
  max-height: 300pt;
}

.openDoneItem > header {
  margin: 16px 8px 8px 8px;
  display: flex;
  flex-direction: row-reverse;
}

.openDoneItem > header > div {
  display: block;
}

.openDoneItem > .doneRow > .actionRow {
  grid-row: 3;
  grid-column: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



@media only screen and (max-width: 700px) {
  .doneRow {
    grid-template-columns: 64fr 20fr 16fr;
    padding: 4pt;
  }

  .doneRow p {
    margin-top: 2pt;
    margin-bottom: 2pt;
  }

  .doneRow > .doneName {
    grid-column: 1;
    grid-row: 1;
  }

  .doneRow > .doneGroup {
    grid-column: 1;
    grid-row: 2;
  }

  .doneRow > .doneDate {
    grid-column: 1;
    grid-row: 3;
  }

  .openDoneItem > .doneRow > .doneScore {
    grid-column: 4 ;
    grid-row: 1 / span 3;
    display: flex;
    align-items: center;
    align-content: center;
  }

  .openDoneItem > .doneRow > .actionRow {
    grid-row: 5;
    grid-column: 4;
  }
}

@media only screen and (min-width: 700px) {

  .doneItem:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
  }
}
