.spinner {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 4px;
	box-sizing: border-box;
	box-shadow: none;
}

.loader {
	height: 90%;
	aspect-ratio: 1 / 1;
	position: relative;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #3498db;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	box-sizing: border-box;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}