

/* Style the horizontal ruler */
/*hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}*/

.toolBar {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

/* The Close Button (x) */
.close {
    /*position: absolute;*/
    /*right: 2%;*/
    /*top: 2%;*/
    /*font-size: 40px;*/
    /*font-weight: bold;*/
    color: #3e0404;
    background-color: Transparent;
    margin: 0;
    padding: 0;
    height: 24px;
    width: 24px;
}

.close:hover, .close:focus {
    color: #f44336;
    cursor: pointer;
}

.interval input {
    width: 50pt;
    text-align: right;
}
