# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\My Program Files\balancer_web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
