

.notification-container {
    background-color: rgba(18, 54, 162, 0.5);
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 8px;
    position: fixed;
    top: 60pt;
    right: 20pt;
    z-index: 10;
    transition: transform 1s ease-in-out;
    animation: toast-in-right 1s;
    pointer-events: none;
}